#home-screen {
    display: flex;

    height: 100%;
    /* max-height: 100%; */

    flex-direction: column;

    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;

    /* gap: 12px; */

    /* padding: 24px; */
}

#home-title {
    margin-left: 24px;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

#home-header {
    padding: 12px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view {
    background-color: #221c1c;

    border-radius: 12px;

    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); */
}

#home-main-container {
    padding: 0 24px;

    gap: 8px;

    flex: 1;

    display: flex;
    align-items: stretch;
    overflow: auto;
    /* max-height: 72%; */
}

#home-main-view {
    flex: 1;
}

#home-main-view > * {
    z-index: 1;
}

#home-last-played {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
}

#home-last-played-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 6px;
    /* overflow-y: scroll; */
    flex: 1;
    z-index: 1;
}

#home-last-played-title {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin: 6px;
    /* transition: 0.2s; */
}

@media screen and (max-width: 1080px) {
    #home-last-played {
        display: none;
        /* transform: scaleX(0); */
    }
}
