.linear-progress-container {
    width: 100%;
    height: 4px;
}

.linear-progress-track {
    width: 100%;

    stroke: #4f4040;
    stroke-width: 8px;
}

.linear-progress-indicator {
    stroke: #9067c6;
    stroke-width: 8px;

    transition: 2s ease;
}
