:root {
    font-family: Lexend, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #171212;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
}

@font-face {
    font-family: Lexend;
    src: url("./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

body {
    margin: 0;
    padding: 0;
    display: flex;

    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
